/*.gem
/.bundle
/ext/nokogiri_xmlsec/**/nokogiri_xmlsec.dll
/ext/nokogiri_xmlsec/include/
/gems/
/include/
/lib/nokogiri/xmlsec/**/nokogiri_xmlsec.bundle
/lib/nokogiri/xmlsec/**/nokogiri_xmlsec.so
/Makefile
/mkmf.log
/pkg/
/ports/
/tmp/
